<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="push" [ngStyle]="{ witdh: '250px' }">
      <mat-toolbar color="primary">
        <span>Menu</span>
        <span class="spacer"></span>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>pets</mat-icon>
        </button>
      </mat-toolbar>
    </mat-sidenav>
  
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>pets</mat-icon>
      </button>
  
      <span class="spacer"></span>
      <button mat-button>Salir</button>
    </mat-toolbar>
  
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-container>