<div class="container">
  <div>
    <mat-card class="card-id" appearance="outlined" *ngIf="amiguito">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title class="header-id">{{ amiguito.name }}</mat-card-title>
          <mat-card-subtitle class="header-id"
            >RAZA: {{ amiguito.raza }}</mat-card-subtitle
          >
          <mat-card-subtitle class="header-id"
            >EDAD: {{ amiguito.edad }}</mat-card-subtitle
          >
          <mat-card-subtitle class="header-id"
            >ID: {{ amiguito.id }}</mat-card-subtitle
          >
          <img mat-card-xl-image [src]="amiguito.imagen" />
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        {{ amiguito.fullDescription }}
      </mat-card-content>
    </mat-card>
  </div>

  <h1>FORMULARIO DE ADOPCION</h1>
  <form class="example-form">
    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>NOMBRE</mat-label>
            <input matInput />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>APELLIDO</mat-label>
            <input matInput />
          </mat-form-field>
        </td>
      </tr>

      <p>
        <mat-form-field class="example-full-width">
          <mat-label>DOMICILIO</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
      </p>

      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>CIUDAD</mat-label>
            <input matInput />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>PROVINCIA</mat-label>
            <input matInput />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>CODIGO POSTAL</mat-label>
            <input matInput #postalCode maxlength="5" />
            <mat-hint align="end">{{ postalCode.value.length }} / 5</mat-hint>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>PAIS</mat-label>
            <input matInput />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>TELEFONO</mat-label>
            <input type="tel" matInput />
            <mat-icon matSuffix>phone</mat-icon>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input
              type="email"
              matInput
              [formControl]="emailFormControl"
              [errorStateMatcher]="matcher"
            />
            <mat-error
              *ngIf="
                emailFormControl.hasError('email') &&
                !emailFormControl.hasError('required')
              "
            >
              Por favor, ingrese un email valido
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              Email es <strong>obligatorio</strong>
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
    </table>
  </form>
  <button class="btn" matTooltip="Enviar Solicitud" mat-flat-button>
    <mat-icon class="icon">description</mat-icon>
    ENVIAR
  </button>
</div>
