<mat-toolbar color="primary">
  <mat-toolbar-row>
    <mat-icon>pets</mat-icon>
    <span>Amiguitos</span>
    <span class="example-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>home</mat-icon>
          Home
        </button>
        <button mat-menu-item>
          <mat-icon>pets</mat-icon>
          Amiguitos
        </button>

        <button mat-menu-item><mat-icon>mail</mat-icon> Contacto</button>
      </mat-menu>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-card>
  <mat-card-content>Simple card</mat-card-content>
</mat-card>
