<div class="container">
  <mat-card class="card" appearance="outlined">
    <mat-card-title class="title">Contacto</mat-card-title>
    <div class="example-button-row">
        <div>
            <button mat-raised-button><mat-icon class="icon">facebook</mat-icon></button> 
        </div>
        <div>
            <button mat-raised-button><mat-icon class="icon">email</mat-icon></button>
        </div>
        <div>
            <button mat-raised-button><mat-icon class="icon">phone</mat-icon></button>
        </div>
        <div>
            <button mat-raised-button><mat-icon class="icon">map</mat-icon></button>
        </div>
    </div>
  </mat-card>
</div>
